<?xml version="1.0"?>
<launch>

	<node pkg="wolvmarine_drivers" type="heartbeat.py" name="heartbeat_node"
		  respawn="true" ns='status' >
		<remap from='gps' 			to='/input/gps/fixed' />
		<!-- <remap from='system_mode' 	to='system_mode' /> -->
		<!-- <remap from='heartbeat' 	to='heartbeat' /> -->
	</node>

</launch>
