<?xml version="1.0"?>
<launch>
<group ns='pid'>
    <!-- Launch PID Interpreter -->
    <node pkg="wamv_control" type="pid_interpreter.py" name="interpreter" >
        <rosparam command="load" file="$(find wamv_control)/params/interpreter_params.yaml" />
   </node>

    <!-- Launch heading PID controller -->
    <node pkg="pid" type="controller" name="controller" ns="heading">
        <rosparam command="load" file="$(find wamv_control)/params/heading_controller_params.yaml" />
   </node>

    <!-- Launch speed PID controller -->
    <node pkg="pid" type="controller" name="controller" ns="speed">
        <rosparam command="load" file="$(find wamv_control)/params/speed_controller_params.yaml" />
    </node>
</group>
</launch>
