<?xml version="1.0"?>
<launch>
    
    <!-- Launch PID Interpreter -->
    <node pkg="wamv_control" type="pid_interpreter" name="pid_interpreter_node" />

    <!-- Launch heading PID controller -->

    <!-- Launch speed PID controller -->
    <node pkg="pid" type="controller" name="speed_controller" >
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="127" />
        <param name="lower_limit" value="-127" />
        <!-- <param name="windup_limit" value="10" /> -->
        <!-- <param name="max_loop_frequency" value="100.0" /> -->
        <!-- <param name="min_loop_frequency" value="100.0" /> -->
   </node>
        <!-- <remap from="/navsat" to="/an_device/NavSatFix"/> -->
        <!-- <remap from="/imu" to="/an_device/Imu"/> -->
        <!-- <remap from="/gps" to="/gps/odom"/> -->
    <!-- </node> -->

</launch>
