<?xml version="1.0"?>
<launch>

  <!-- sudo jstest /dev/input/js1 -->
  <!-- sudo chmod a+rw /dev/input/js1 -->

  <group ns='teleoperations' >

    <node pkg="joy" type="joy_node" name="joystick">
      <param name='dev' value='/dev/input/js1' />
    </node>

    <node pkg="wamv_control" type="teleoperations_controller.py" name="controller">
      <remap from='motor_command' to='/command/motor' />
      <remap from='system_mode'   to='/status/system_mode' />
      <remap from='joystick'      to='joy' />
    </node>

  </group>

</launch>
