<?xml version="1.0"?>
<launch>

  <!-- sudo jstest /dev/input/js1 -->
  <!-- sudo chmod a+rw /dev/input/js1 -->

  <node pkg="joy" type="joy_node" name="joystick_node">
    <param name='dev' value='/dev/input/js1' />
  </node>

  <node pkg="wamv_control" type="teleoperations_controller.py" name="teleoperations_controller_node">
    <!-- <remap from='motor_command' to='motor_command' /> -->
    <!-- <remap from='joy'           to='joy' /> -->
  </node>

</launch>
