<?xml version="1.0"?>
<launch>
    <!-- Launch Heading Test Node -->
    <node pkg="wamv_control" type="set_test_headings.py" name="testing_heading_node" output="screen" >
        <rosparam command="load" file="$(find wamv_control)/params/heading_params.yaml" />
    </node>

    <!-- Launch PID Interpreter -->
    <node pkg="wamv_control" type="pid_interpreter.py" name="pid_interpreter_node" />

    <!-- Launch heading PID controller -->
    <node pkg="pid" type="controller" name="heading_controller" >
        <param name="Kp" value="1.0" />
        <param name="Ki" value="0.0" />
        <param name="Kd" value="0.0" />
        <param name="upper_limit" value="127" />
        <param name="lower_limit" value="-127" />
        <param name="topic_from_controller" value="heading_control_effort"/>
        <!-- CHECK THAT topic_from_plant VALUE IS CORRECT!!-->
        <param name="topic_from_plant" value="an_device/Imu/Orientation/Z"/>
        <param name="setpoint_topic" value="heading_to_target"/>
        <param name="pid_enable_topic" value="pid_enable"/>

        <!-- <param name="windup_limit" value="10" /> -->
        <!-- <param name="max_loop_frequency" value="100.0" /> -->
        <!-- <param name="min_loop_frequency" value="100.0" /> -->
   </node>

</launch>
