<?xml version="1.0"?>
<launch>
	<param name ="/use_sim_time" value="true"/>

	<!-- launch transform publisher -->
	<node pkg="wamv_localization" type="tf_publisher" name="tf_publisher" respawn="true" output="screen" />
	<node pkg="rviz" type="rviz" name="visual" args="-d $(find wamv_viz)/rviz/odometry.rviz" />
</launch>
