<?xml version="1.0"?>
<launch>

	<!-- Good -->
	<include file="$(find wamv_driver)/launch/drivers.launch" />
	<include file="$(find wamv_transform)/launch/transforms.launch" />
	<include file="$(find wamv_fixer)/launch/fixer.launch" />
	<include file="$(find wamv_localization)/launch/localization.launch" />
	<include file="$(find wamv_control)/launch/controls.launch" />


</launch>
