<?xml version="1.0"?>
<launch>

	<param name='use_sim_time' value='true' />

	<!-- rosbag -->
	<node pkg='rosbag' type='play' name='bag_file_node'
		args="
			--loop --clock
			/home/mjsyp/.ros/bags/parking_lot.bag
			/sensors/an_device/Imu:=/data/imu/raw
			/sensors/an_device/Twist:=/data/twist/raw
			/sensors/an_device/NavSatFix:=/data/gps/raw
		"/>

	<!--  -->
	<include file='$(find wamv_past)/launch/past.launch' />

	<!-- static transforms -->
	<include file='$(find wamv_transform)/launch/transforms.launch' />

	<!-- imu based odometry -->
	<include file='$(find wamv_driver)/launch/odometry_publisher.launch' />

	<!-- rviz -->
	<node pkg='rviz' type='rviz' name='rviz_node'
		args="-d $(find wamv_viz)/rviz/current.rviz" />

</launch>
