<?xml version="1.0"?>
<launch>

    <node pkg="advanced_navigation_driver" type="advanced_navigation_driver" name="advanced_navigation_driver_node" respawn="true">
        <!-- <param name='port' value='' /> -->
        <!-- <param name='baud_rate' value='' /> -->
        <param name='imu_frame_id' value='imu_raw' />
        <param name='nav_sat_frame_id' value='gps_raw' />
        <!-- <param name='topic_prefix' value='' /> -->
        <!-- <remap from='StopStatus' to='' /> -->
    </node>

</launch>
