<?xml version="1.0"?>
<launch>

	<!-- Launch rosserial to communicate to arduinos -->
	<include file="$(find wamv_driver)/launch/heartbeat.launch" />
	<include file="$(find wamv_driver)/launch/motor_controller.launch" />
	<include file="$(find wamv_driver)/launch/status_light_controller.launch" />

	<!-- Launch sensors drivers -->
	<include file="$(find wamv_driver)/launch/advanced_navigation_device.launch" />
	<!-- <include file="$(find wamv_driver)/launch/velodyne.launch" /> -->
	<!-- <include file="$(find wamv_driver)/launch/ladybug.launch" /> -->

</launch>
