<?xml version="1.0"?>
<launch>

  <node pkg="wamv_driver" type="imu_odometry.py" name="imu_odometry_node" output="screen" >
    <param name='footprint_to_an_device' value='1.25' />
    <param name='broadcast_transform' value='false' />
    <remap from='imu'   to='/data/imu/fixed' />
    <remap from='twist' to='/data/twist/fixed' />
    <remap from='odom'  to='/odom/imu' />
  </node>

</launch>
