<?xml version="1.0"?>
<launch>

  <group ns='motor'>

    <node pkg="wamv_driver" type="motor_command_interpreter.py" name="interpreter" >
      <remap from='port_motor_input'          to='port_motor_input' />
      <remap from='strbrd_motor_input'        to='strbrd_motor_input' />
      <remap from='port_bow_thruster_input'   to='port_thruster_input' />
      <remap from='strbrd_bow_thruster_input' to='strbrd_thruster_input' />
      <remap from='motor_command'             to='/motor/input' />
      <remap from='system_mode'               to='/status/system_mode' />
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="controller">
        <param name="port" value="/dev/ttyACM0" />
    </node>

  </group>

</launch>
