<?xml version="1.0"?>
<launch>

    <node pkg="wamv_driver" type="odometry_publisher.py" name="odometry_publisher_node" output="screen">
        <remap from='imu'   to='/data/imu/stamped' />
        <remap from='twist' to='/data/twist/stamped' />
        <remap from='odom'  to='/odom/imu' />
    </node>

</launch>
