<?xml version="1.0"?>
<launch>

    <node pkg="wamv_driver" type="odometry_publisher.py" name="odometry_publisher_node" output="screen">
        <remap from='imu'       to='/sensors/an_device/Imu' />
        <remap from='twist'     to='/sensors/an_device/Twist' />
        <remap from='odom'      to='/odometry/imu_estimated' />
    </node>

</launch>
