<?xml version="1.0"?>
<launch>

  <group ns='status_light' >

    <node pkg="wamv_driver" type="status_light_interpreter.py" name="interpreter" >
      <remap from='yellow_light' to='yellow_light_active' />
      <remap from='green_light' to='green_light_active' />
      <remap from='blue_light' to='blue_light_active' />
      <remap from='red_light' to='red_light_active' />
      <remap from='life_line' to='heartbeat_string' />
      <remap from='system_mode' to='/status/system_mode' />
      <remap from='heartbeat' to='/status/heartbeat' />
    </node>

    <node pkg="rosserial_python" type="serial_node.py" name="controller">
        <param name="port" value="/dev/ttyACM1" />
    </node>

  </group >

</launch>
